

body{
  background-color: black !important;
}

@font-face {
  font-family: titleFont;
  src: url('font/TheCenturion.otf');
}

@font-face {
  font-family: bodyFont;
  src: url('font/AL_Nevrada.otf');
}
@font-face {
  font-family: subtitleFont;
  src: url('font/EnchantedLand.otf');
}

@media screen and (max-width: 1200px) and (min-width: 920px) {
  h1.title, h1.title2 {
    font-size: 4rem;
    left: 8px;
  }
}

@media screen and (max-width: 990px) {
  h1.title, h1.title2 {
    font-size: 3rem;
    left: 20px;
    top:-10px;
  }
}

.fade-common{
  height: 100%;
  width: 100%;
  position:absolute;
  opacity: 1 !important;
  z-index: 1;
}

.fade-top-left {
  left: -2px;
  background:
    -webkit-linear-gradient(left,
      rgba(0,0,0,1) 0%,
      rgba(0,0,0,0) 7.5%
    );
}

.fade-top-right{
  right: -2px;
  background:
    -webkit-linear-gradient(right,
      rgba(0,0,0,1) 0%,
      rgba(0,0,0,0) 7.5%
    );
}

.fade-bottom-sides {
  left: 0;
  background:
    -webkit-linear-gradient(left,
      rgba(0,0,0,1) 0%,
      rgba(0,0,0,.5) 2.5%,
      rgba(0,0,0,0) 7.5%,
      rgba(0,0,0,0) 92.5%,
      rgba(0,0,0,.5) 97.5%,
      rgba(0,0,0,1) 100%
    );
}

.fade-bottom{
  left: 0;
  background:
  -webkit-linear-gradient(bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,0) 7.5%
  );
}

.display-1::first-letter{
  color:#D16B66;
}

a.nav-link{
    font-family: subtitleFont;
    margin: 0 auto;
}

h1.title::first-letter{
  color:#AA172F;
}

h1.title{
  position: relative;
  font-family: titleFont;
  text-align:right;
  text-shadow: 3px 3px black;
  z-index: 2;
}

h1.title2{
  position: relative;
  font-family: titleFont;
  line-height: 25%;
  text-align:right;
  text-shadow: 3px 3px black;
  z-index: 1;
}

h2{
  color:#D3C59D;
}

h1{
  color:#D3C59D;
}

h5{
  color:#000000;
}

#header{
  z-index: 3;
  text-align: center;
}

.trailerInterface{
  position:relative;
}

#headerTitle{
  position:relative;
  background-image: url('images/banner-head-logo.png');
  background-repeat: no-repeat;
  background-size:contain;
  height: 412px;
  width: 65%;
  margin-left: 8em;
  margin-top: -4.5em;
}

#headerBanner{
  position:absolute;
  background-image: url('images/banner-head.png');
  background-repeat: no-repeat;
  background-size:contain;
  height: 100%;
  width: 100%;
  left: 0;
  top:65px;
  text-align: center;
}

#dividerImg{
  position:absolute;
  object-fit:fill;
  left: 0;
  width:100%;
  height:100%;
}

#menuList{
  left: 0;
  margin-left: -40px;
  margin-top: .75rem;
}

.videoOverlayContent{
  position:absolute;
  top:30%;
  left:42%;
}

video {
  object-fit:cover;
  position:absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Style the button used to pause/play the video */
#myBtn {
  cursor: pointer;
}

#myBtn:hover {
}

#bodyBgImg {
  position: absolute;
  left: 0;
  font-family: bodyFont;
  text-align:justify;
  width: 100%;
  height: 100%;
  background-image: url('images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#footer{
  position:absolute;
  object-fit:cover;
  text-align: center;
  left: 0;
  width:100%;
  height:100%;
}

#papersContainer{
  position:absolute;
  object-fit:cover;
  width:100%;
  height:100%;
}


.paperBgImg{
  position:relative;
  background-image: url('images/paper.png');
  background-repeat: no-repeat;
  background-size:contain;
  text-align: justify;
  height: 100%;
}

.flagImg{
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 85% 100%;
  margin-top: -50px !important;
}

.imgChars{
  background-repeat: no-repeat;
  background-position-x: center;
  background-size:contain;
  height : 300px;
}
