body{
  background-color: black !important;
}

@font-face {
  font-family: titleFont;
  src: url('font/TheCenturion.otf');
}

@font-face {
  font-family: subtitleFont;
  src: url('font/EnchantedLand.otf');
}

.display-1::first-letter{
  color:#D16B66;
}

a.nav-link{
    font-family: subtitleFont;
    margin: 0 auto;
}

h1.title::first-letter{
  color:#D16B66;
}

h1.title{
  font-family: titleFont;
}

h2{
  color:#D3C59D;
}

h1{
  color:#D3C59D;
}

header{
  top:7.5%;
  position:absolute;
  object-fit:cover;
  background-image: url('images/banner-head.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 10%;
  width: 100%;
  margin: 0 auto;
}


.videoOverlayContent{
  position:absolute;
  top:30%;
  left:42%;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  width: 960px;
  height: 480px;
  object-fit:cover;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

#bodyBgImg {
  font-family: subtitleFont;
  text-align:justify;
  background-image: url('images/background.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size:contain;
  height: 3000px;
}

.paperBgImg{
  background-image: url('images/paper.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size:contain;
  height : 500px;
}

.flagImg{
  background-repeat: no-repeat;
  background-position-x: center;
  background-size:contain;
  height : 150px;
}

.imgChars{
  background-repeat: no-repeat;
  background-position-x: center;
  background-size:contain;
  height : 300px;
}



#dividerImg{
  object-fit:fill;
  background-image: url('images/divider.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 78px;
}
